@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 6vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 35px;
    font-family: var(--fonte3);
    font-size: 4vw;
}

.normal {
    background-color: white;
    color: black;
}

.img {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.467);
    background-size: cover;
    background-attachment: fixed;
}

.img p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(81, 81, 81, 0.333);
    box-shadow: 2px 5px 0 rgba(0, 0, 0, 0.195);
    text-shadow: 1px 1px 1px black;
}

#img01 {
    background-image: url(img/background001.jpg);
    background-position: right center;
    
}

#img02 {
    background-image: url(img/background002.jpg);
    background-position: right center;
    
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}